@font-face {
  font-family: Outfit-Regular;
  src: url(../fonts/outfit/Outfit-Regular.ttf);
}
@font-face {
  font-family: young-serif;
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}
:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}
body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: var(--Eggshell);
  line-height: 2rem;
}
main {
    max-width: 60%;
    
  
}
section {
    border-radius: 18px;
  background-color: var(--White);
  padding: 48px;
}
.welcome-img {
  width: 100%;
  height: 282px;
  border-radius: 18px;
}
h1,
h2 {
  font-family: young-serif;
  color: var(--Nutmeg);
}
ul,
ol,
p,
tr,
footer {
  font-family: Outfit-Regular;
  color: var(--Dark-Charcoal);
}
h3 {
  font-family: Outfit-Regular;
  color: var(--Dark-Raspberry);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
